<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Hello </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Layout.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm bg-danger border-bottom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hello World</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Carousel" asp-action="DummyCarousel">My Carousel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Card" asp-action="DummyCard">My Card</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer bg-danger container-fluid position-absolute border-top">
        <div class="container text-white text-center py-3">&copy; @DateTime.Now.Year Hello World - 
            <a  class="text-white-50" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>