
@{
    ViewData["Title"] = "DummyCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h1 class="my-4">Dummy Card Page</h1>
    <div class="row my-4">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body bg-light">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">I'm keeping these simple. The bg-light background has a professional look to it.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body bg-light">
                    <h5 class="card-title">Card title 3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Minimal text. Shorter card.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body bg-light">
                    <h5 class="card-title">Card title 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Here is another card. I plucked these straight from bootstrap 4's documentation.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>


