
@{
    ViewData["Title"] = "Home";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Home.css" />

<h1 class="display-1">Hey There!</h1>
<h3 class="display-3">Welcome to my mostly useless Hello World site</h3>
<p class="lead">
    Because the content is left to my choosing, I am using this space to play around with
    some of Bootstrap 4's more useful features
</p>


